body, html {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('./foto_background/porifera.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 5vw; /* Tamaño de fuente ajustado para dispositivos móviles */
}

h2 {
    font-size: 3.5vw; /* Tamaño de fuente ajustado para dispositivos móviles */
}

h3 {
    font-size: 3vw; /* Tamaño de fuente ajustado para dispositivos móviles */
}

.section.personal-info {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: left; /* Centra verticalmente */
    flex-direction: column; /* Alinea los elementos en columna */
}

.section, .survey-questions {
    background-color: rgba(255, 255, 255, 0.879); /* Fondo semi-transparente */
    margin: 20px auto; /* Centra la sección */
    border-radius: 10px;
    width: 90%; /* Ancho al 90% del contenedor padre para dispositivos móviles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 5vw; /* Añadido margen izquierdo y derecho para dispositivos móviles */
}

.question-container {
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.842); /* Mismo color de fondo para mantener la consistencia */
}

.question h4 {
    font-size: 2vw; /* Tamaño de fuente ajustado para dispositivos móviles */
}

.question p {
    font-style: italic;
    font-size: 3.5vw; /* Tamaño de fuente ajustado para dispositivos móviles */
    margin: 5px 0 20px; /* Espaciado alrededor del párrafo de la pregunta */
}

.answers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que los desplegables pasen a la siguiente línea si no hay espacio */
    margin-bottom: 50px; /* Espacio adicional debajo del elemento para dispositivos móviles */
}

.dropdown-label {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Espacio a la derecha de cada desplegable */
}

.dropdown-label span {
    font-size: 3vw; /* Tamaño de fuente ajustado para dispositivos móviles */
    margin-bottom: 5px;
}

.dropdown-label select {
    width: 90%; /* Ancho al 90% del contenedor padre para dispositivos móviles */
    padding: 5px;
    font-size: 3vw; /* Tamaño de la fuente de los desplegables para dispositivos móviles */
    margin-bottom: 10px; /* Espacio después de cada desplegable */
}

.info-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.info {
    flex-basis: 100%; /* Ancho completo para dispositivos móviles */
    margin-bottom: 10px;
    font-size: 4vw; /* Tamaño de fuente ajustado para dispositivos móviles */
}

.submit-button {
    background-color: #7fa771ed;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3vw; /* Tamaño de fuente ajustado para dispositivos móviles */
    display: block;
    width: fit-content; /* Hace que el botón se ajuste al contenido */
    margin: 20px auto; /* Centrado y con espacio arriba y abajo */
}

.submit-button:hover {
    background-color: #bd7cb5ec;
}

/* Estilos para pantallas más grandes */
@media only screen and (min-width: 601px) {
    h1 {
        font-size: 3vw; /* Tamaño de fuente ajustado */
    }
    h2 {
        font-size: 2vw; /* Tamaño de fuente ajustado */
    }
    h3 {
        font-size: 1.8vw; /* Tamaño de fuente ajustado */
    }
    .section, .survey-questions {
        width: 80%; /* Ancho al 80% del contenedor padre */
        padding: 20px 2vw; /* Añadido margen izquierdo y derecho */
    }
    .question h4 {
        font-size: 1.2vw;
    }
    .question p {
        font-size: 2vw; /* Tamaño de fuente ajustado */
    }
    .answers {
        margin-bottom: 100px; /* Espacio adicional debajo del elemento */
    }
    .dropdown-label span {
        font-size: 1.5vw;
    }
    .dropdown-label select {
        width: 12vw; /* Ancho fijo para cada desplegable */
        font-size: 1.5vw; /* Tamaño de la fuente de los desplegables */
    }
    .info {
        flex-basis: calc(100% / 4 - 10px); /* Ajusta el ancho para que entren 3 en una fila */
        font-size: 1.5vw; /* Tamaño de fuente ajustado */
    }
    .submit-button {
        font-size: 1.1vw;
    }
}
